<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <ul>

      		<%
      			mang.forEach(function(sanPham){
      				%>
      				<li>
      					<img class="thumb" src="images/background/<%=sanPham.hinh%>" alt="" />
      					<h3><%=sanPham.title%></h3>
      					<p><%=sanPham.desc%></p>
      				</li>
      				<%
      			});
      		%>

    </ul>
  </body>
</html>
